html, body
{
	background: #5A5A5A; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #545454, #606060); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #545454, #606060); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #545454, #606060); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #545454, #606060); /* Standard syntax */
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0px;
	min-height: 100%;
	min-width: 800px;
	padding: 0px;
}

.leftColumn
{
	background: #de7736; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #de663c, #db8937); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #de663c, #db8937); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #de663c, #db8937); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #de663c, #db8937); /* Standard syntax */
	color: #fff;
}

.rightColumn
{
	background: #1f2f41;
	color: #fff;
	padding: 30px !important;
	text-align: left;
}

.shadow
{
	box-shadow: 0px 0px 40px;
}


.btn-sign
{
	background-color: #1b2a3b;
	border-color: #1b2a3b;
	border-radius: 0px;
	color: #a1a1a1;
	margin: 0px;
}

	.btn-sign:hover
	{
		color: #fff;
	}

	.btn-sign:active
	{
		color: #a1a1a1;
	}

	.btn-sign.selected
	{
		background-color: #ed6e19;
		border-color: #ed6e19;
		color: #fff;
		cursor: default;
	}


.btn-signIn
{
	background: #e37535; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(top, #db8a36, #ea6234); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom, #db8a36, #ea6234); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom, #db8a36, #ea6234); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom, #db8a36, #ea6234); /* Standard syntax */
	border-color: #1b2a3b;
	color: #fff;
}

.txt
{
	color: #a1a1a1;
}

.txt-Sign
{
	color: #a1a1a1;
	font-size: 44px;
}

	.txt-Sign.selected
	{
		border-bottom: 2px solid #df673b;
		color: #fff;
		cursor: default;
		text-decoration: none;
	}

	.txt-Sign:hover
	{
		color: #fff;
		text-decoration: none;
	}

.login > .row
{
	margin-bottom: 20px;
}

input[type=email], input[type=password], input[type=text]
{
	background-color: #1b2a3b !important;
	color: #fff !important;
}

.navigationOn
{
	font-size: 14px; /* This controls the size. */
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 2px solid #b1b1b1;
	background-color: #b1b1b1;
	border-radius: 14px;
}

.navigationOff
{
	font-size: 14px; /* This controls the size. */
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 2px solid #b1b1b1;
	border-radius: 14px;
}

@media (max-width: 768px)
{
	.devs
	{
		font-size: 10px;
	}

	.devs img
	{
		height: 60px;
	}

	.signButtons
	{
		display: none;
	}

	.txt
	{
		font-size: 22px;
	}

	.txt-Sign
	{
		font-size: 34px;
	}

	.leftColumn
	{
		padding: 5px !important;
		font-size: 22px;
	}

	.leftColumn.signUp
	{
		font-size: 22px;
	}
	
		.leftColumn img
		{
			height: 59px;
		}

			.leftColumn img.about
			{
				height: 22px;
			}
}

@media (min-width: 768px) and (max-width: 992px)
{
	.devs
	{
		font-size: 10px;
	}

	.devs img
	{
		height: 60px;
	}

	.signButtons
	{
		display: block;
		text-align: right;
	}

	.txt
	{
		font-size: 22px;
	}

	.txt-Sign
	{
		font-size: 34px;
	}

	.leftColumn
	{
		padding: 10px !important;
		font-size: 32px;
	}

	.leftColumn .signUp
	{
		font-size: 19px;
	}

		.leftColumn img
		{
			height: 259px;
		}

			.leftColumn img.about
			{
				height: 22px;
			}
}

@media (min-width: 992px) and (max-width: 1200px)
{
	.devs
	{
		font-size: 10px;
	}

		.devs .det
		{
			color: #a1a1a1;
		font-size: 10px;
		}

	.devs img
	{
		height: 80px;
	}

	.signButtons
	{
		display: block;
		text-align: right;
	}

	.txt
	{
		font-size: 32px;
	}

	.txt-Sign
	{
		font-size: 44px;
	}

	.leftColumn
	{
		padding: 20px !important;
		font-size: 42px;
	}

	.leftColumn .signUp
	{
		font-size: 22px;
	}

		.leftColumn img
		{
			height: 259px;
		}

			.leftColumn img.about
			{
				height: 32px;
			}
}

@media (min-width: 1200px)
{
	.devs
	{
		font-size: 12px;
	}

		.devs .det
		{
			color: #a1a1a1;
		font-size: 10px;
		}

	.devs img
	{
		height: 100px;
	}

	.signButtons
	{
		display: block;
		text-align: right;
	}

	.txt
	{
		font-size: 32px;
	}

	.txt-Sign
	{
		font-size: 44px;
	}

	.leftColumn
	{
		padding: 30px !important;
		font-size: 52px;
	}

	.leftColumn .signUp
	{
		font-size: 22px;
	}

		.leftColumn img
		{
			height: 259px;
		}

			.leftColumn img.about
			{
				height: 42px;
			}
}
