html, body
{
	background: #1c2a3a; /* Standard syntax */
	font-family: Myr, sans-serif;
	color: #fff;
	height: 100%;
	margin: 0px;
	min-height: 100%;
	min-width: 800px;
	padding: 0px;
}

body
{
	padding: 164px 15px 20px 15px;
}

input[type=email], input[type=password], input[type=text]
{
	background-color: #16202c !important;
	border: #16202c !important;
	color: #fff !important;
}

.navbar
{
	box-shadow: 0px 0px 40px !important;
}

.topButton
{
	color: #fff;
	display: table;
	height: 124px;
	float: left;
	font-size: 30px;
	padding: 0px 20px;
	text-align: center;
}

	.topButton:hover
	{
		background-color: #e0673c;
		color: #141e28;
		text-decoration: none;
	}

	.topButton.selected
	{
		background-color: #141e28;
		border-bottom: 3px solid #e0673c;
	}

		.topButton.selected:hover
		{
			background-color: #141e28;
			border-bottom: 3px solid #e0673c;
			color: #fff;
		}

	.topButton .text
	{
		display: table-cell;
		vertical-align: middle;
	}


.btn-account
{
	background-color: #15202c;
	border-color: #15202c;
	border-radius: 0px;
	color: #a1a1a1;
	margin: 10px 0px 0px 0px;
}

	.btn-account:hover
	{
		color: #fff;
	}

.logo
{
	background: #de7736; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #de663c, #db8937); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #de663c, #db8937); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #de663c, #db8937); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #de663c, #db8937); /* Standard syntax */
	height: 124px;
	width: 124px;
}

	.logo img
	{
		height: 100px;
		margin: 12px;
	}


.title
{
	border-bottom: 2px solid #df673b;
	color: #fff;
	font-size: 34px;
	text-decoration: none;
}

.importBox
{
	border: 1px dashed #df673b;
	color: #df673b;
	cursor: pointer;
	float: left;
	height: 270px;
	margin-bottom: 20px;
	text-align: center;
	width: 220px;
}

	.importBox img
	{
		margin: 20px 68px;
	}

	.importBox .title
	{
		font-size: 18px;
	}

	.importBox .subTitle
	{
		font-size: 14px;
	}

.presentationBox
{
	background-color: #fff;
	color: #df673b;
	cursor: pointer;
	float: left;
	height: 270px;
	margin-bottom: 20px;
	width: 220px;
}

	.presentationBox .gradient
	{
		background: #de7736; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left top, #de663c, #db8937); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(bottom right, #de663c, #db8937); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(bottom right, #de663c, #db8937); /* For Firefox 3.6 to 15 */
		background: linear-gradient(bottom right, #de663c, #db8937); /* Standard syntax */
		height: 160px;
		text-align: center;
		width: 100%;
	}

	.presentationBox .blue
	{
		background: #141e28;
		display: table;
		height: 160px;
		text-align: center;
		width: 100%;
	}

	.presentationBox .blue .img
	{
		display: table-cell;
		vertical-align: middle;
	}

	.presentationBox .blue img
	{
		max-height: 160px;
		max-width: 100%;
	}

	.presentationBox .name
	{
		color: #1c2a3a;
		text-align: left;
		padding: 10px 10px;
	}

	.presentationBox .buttons
	{
		padding-left: 8px;
		padding-right: 12px;
	}

		.presentationBox .buttons .btn
		{
			background-color: #fff;
			border-color: #df673b;
			color: #df673b;
		}

		.presentationBox .buttons .btn-del
		{
			background-color: #df673b;
			border-color: #df673b;
			color: #fff;
		}

.presentationDetails > .row
{
	margin-bottom: 20px;
}

.presentationPageBox
{
	height: 275px;
	width: 376px;
	margin-bottom: 20px;
}

	.presentationPageBox .pageImage
	{
		background-color: #141e28;
		height: 220px;
		text-align: center;
		width: inherit;
	}

		.presentationPageBox .pageImage img
		{
			max-height: 220px;
			max-width: 370px;
		}

	.presentationPageBox .buttons
	{
		margin-top: 12px;
		width: inherit;
	}

		.presentationPageBox .buttons .button
		{
			cursor: pointer;
			margin-right: 5px;
		}

		.presentationPageBox .buttons .addAudio
		{
			background-image: url(../Images/addAudio.png);
			float: left;
			height: 39px;
			width: 39px;
		}

		.presentationPageBox .buttons .audioPlayer
		{
			background-image: url(../Images/audioPlayer.png);
			cursor: default;
			float: left;
			height: 39px;
			width: 287px;
		}

			.presentationPageBox .buttons .audioPlayer .length
			{
				color: #df673b;
				height: 26px;
				margin: 6px 0px 0px 39px;
				padding-top: 3px;
				text-align: center;
				width: 240px;
			}

			.presentationPageBox .buttons .audioPlayer .audioButtons
			{
				background-color: green;
				position: relative;
				margin: -5px 0px 0px 245px;
				width: 45px;
			}

				.presentationPageBox .buttons .audioPlayer .audioButtons .button
				{
					cursor: pointer;
					margin-right: 0px;
				}

				.presentationPageBox .buttons .audioPlayer .audioButtons .deleteAudio
				{
					background-image: url(../Images/deleteAudio.png);
					float: left;
					height: 20px;
					width: 20px;
				}

				.presentationPageBox .buttons .audioPlayer .audioButtons .changeAudio
				{
					background-image: url(../Images/changeAudio.png);
					float: left;
					height: 20px;
					margin-right: 5px;
					width: 20px;
				}

		.presentationPageBox .buttons .changePage
		{
			background-image: url(../Images/changePage.png);
			float: left;
			height: 39px;
			width: 39px;
		}

		.presentationPageBox .buttons .deletePage
		{
			background-image: url(../Images/deletePage.png);
			float: right;
			height: 39px;
			margin-right: 0px;
			width: 39px;
		}

@media (max-width: 768px)
{
	.leftColumn
	{
		font-size: 52px;
	}

		.leftColumn .logo
		{
			height: 270px;
		}

			.leftColumn .logo img
			{
				height: 250px;
				margin: 10px 0px;
			}
}

@media (min-width: 768px) and (max-width: 992px)
{
	.leftColumn
	{
		font-size: 52px;
	}

		.leftColumn .logo
		{
			height: 270px;
		}

			.leftColumn .logo img
			{
				height: 250px;
				margin: 10px 0px;
			}
}

@media (min-width: 992px) and (max-width: 1200px)
{
	.leftColumn
	{
		font-size: 52px;
	}
}

@media (min-width: 1200px)
{
	.leftColumn
	{
		font-size: 52px;
	}
}
