@using PresentationBuilder.Models
@model LoginViewModel

@{
    Layout = "~/Views/Shared/Home.cshtml";

    ViewBag.Title = "Presentation Builder";
}

<style>
    .imgDev {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }

        .imgDev:hover {
            -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
            filter: grayscale(0%);
        }
</style>

@section leftPane
{
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <img src="~/Images/presentationBuilder.png" />
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            Who are we?
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <span class="navigationOn"></span>
            <span class="navigationOn"></span>
            <span class="navigationOff"></span>
        </div>
    </div>
}

<div class="row signButtons">
    <div class="col-sm-4 col-md-6 col-lg-8"></div>
    <div class="col-sm-8 col-md-6 col-lg-4">
        @Html.ActionLink("Sign In", "Login", "Account", null, new { @class = "btn btn-sign" })
        @Html.ActionLink("Sign Up", "Register", "Account", null, new { @class = "btn btn-sign" })
    </div>
</div>
<div class="row txt">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <a href="#" class="txt-Sign selected" onclick="return false;">About Us</a>
    </div>
</div>
<br />

<p class="text-justify">
    *** MUDAR ***
    We are four guys with a common goal, move to Canada and looking for new challenges. We are friends, partners and co workers looking for new challenges in Canada
</p>

<div class="row devs">
    <div class="col-sm-3 col-md-3 col-lg-3 text-center">
        <img class="imgDev" src="~/Images/devHud.png" />
        Hud Duque
        <br />
        <span class="det">UI Designer</span>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 text-center">
        <img class="imgDev" src="~/Images/devBruno.png" />
        Bruno Miranda
        <br />
        <span class="det">Full Stack Developer and UX Designer</span>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 text-center">
        <img class="imgDev" src="~/Images/devRafa.png" />
        Rafael Passarela
        <br />
        <span class="det">Full Stack Developer and Xamarin/Android</span>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 text-center">
        <img class="imgDev" src="~/Images/devSamir.png" />
        Samir Oliveira
        <br />
        <span class="det">Full Stack Developer and Xamarin/iOS</span>
    </div>
</div>