@{
    Layout = (Request.QueryString.Get("ajax") == null ? "~/Views/Shared/Home.cshtml" : "~/Views/Shared/HomeAjax.cshtml");

    ViewBag.Title = "Presentation Builder";
}

@section leftPane
{
    ola
}

<div class="row">
    <div class="col-xs-8"></div>
    <div class="col-xs-4">
        <input type="button" class="btn btn-signIn" value="Sign In" />
        <input type="button" class="btn btn-signUp" value="Sign Up" />
    </div>
</div>
<div class="row"