@{
    Layout = (Request.QueryString.Get("ajax") == null ? "~/Views/Shared/Home.cshtml" : "~/Views/Shared/HomeAjax.cshtml");

    ViewBag.Title = "Presentation Builder";
}

<div class="row">
    <div class="col-md-6 leftColumn">
        asd
    </div>
    <div class="col-md-6 rightColumn">
        asd
    </div>
</div>


<input type="file" id="uploadZip" name="file" style="visibility: hidden;" />

<script>
    window.onload = function (e)
    {
        Presentations.fileUpload = $("#uploadZip");

        Presentations.bind();
    }
</script>